.aiiif-fullscreen-button:fullscreen{
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
}

.aiiif-fullscreen-button:fullscreen .label {
    display: none;
}

.aiiif-embedded{
    width: 90px;
}

.aiiif-fullscreen-button:fullscreen > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
